<?xml version="1.0" encoding="UTF-8"?>
<configuration>
	<!-- use Spring default values -->
	<include resource="org/springframework/boot/logging/logback/defaults.xml"/>

	<appender name="JSON_CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
		<encoder class="net.logstash.logback.encoder.LogstashEncoder" />
	</appender>

	<appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
		<layout class="ch.qos.logback.classic.PatternLayout">
			<Pattern>${CONSOLE_LOG_PATTERN}</Pattern>
		</layout>
	</appender>

	<springProfile name="dev,prd,default">
		<root level="info">
			<appender-ref ref="JSON_CONSOLE"/>
		</root>
	</springProfile>

	<springProfile name="local,test,acceptanceTest">
		<root level="info">
			<appender-ref ref="CONSOLE"/>
		</root>
	</springProfile>
</configuration>